@{
    ViewData["Title"] = "Welcome To Innroad";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Welcome to InnRoad</title>
</head>
<body>
    <div>
        <div class="text-center">

            <h1 class="display-4"> Welcome Sowmya</h1>
            <h3> We're going to have a Meeting Scheduled Today</h3>
            <h4>And YOU are invited!</h4>
            <a class="btn btn-primary" asp-action="Form">Form</a>



        </div>
        
    </div>
</body>
</html>



